.footer {
    min-height: 350px;
    background-color: #1f1f1f;
    display: flex;
    position: relative;
    padding: 60px 0 40px;
    justify-content: center;
    color: #ffffff;
    box-sizing: border-box;
  }