.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
/* header */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  color: #000000;
  display: flex;
  align-items: center;
  padding-left: 64px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  margin: 0;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.header__link {
text-decoration: none;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__square-pic {
  width: 568px;
  height: 568px;
  background: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: 0;
}


/* content */

/* description */
.description {
  color: #000000;
  display: flex;
  justify-content: center;
  padding: 100px 0 0;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
  margin: 0 0 -30px;
}

.two-columns__paragraph {
  margin: 0 0 30px;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
}

.two-columns__span-accent {
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
}

/* digits */
.digits {
  color: #000000; 
  display: flex;
  align-items: center;
  margin: 100px 0 0;
  flex-direction: column;
}

.section-title {
  margin: 0;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  margin: 20px 0 0;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
display: flex;
width: 1100px;
margin: 0 auto;
align-content: space-between;
flex-wrap: wrap;
}

.table__cell {
  margin-top: 60px 0 0;
  width: 250px;
  list-style-type: none;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 20px;
}

.table__text {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  gap: 20px;
}
